* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
  }

 html,
 body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 130px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
    position: fixed;
}

#nav img{
    height: 75px;
}

#nav h4{
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}